 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #a09038;
   /* color: rgb(190, 60, 120;)  usando rgb ou rgba*/
   font-family: 'Poppins', sans-serif;
 }

 ul
 {
     list-style: none;
     font-style: italic;
 }

 a{
     text-decoration: none; 
     font-weight: 700;
 }

 body{
    /* background-image: url(./img/fundo.jpg);
     background-repeat: no-repeat;
     background-position: center center fixed;*/
     background: url(./img/fundo.jpg) no-repeat center center fixed;
     background-size: cover;
    /* background: linear-gradient(90deg, #c31432,#240b36);*/ /* colocano backgroud gradiente*/
 }

 header
 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /*border-bottom: 2px solid white;*/
    box-shadow: 1px 1px 10px 1px  white;
    /*border-bottom: 15px ridge white;*/
    margin-bottom: 45px;


 }

 header ul{
     display: flex;
 }

 header ul li{
     padding: 5%;
    /*border-right: 2px dashed white;*/
 }
 header ul li a{
   transition: 300ms;

 }
 header ul li a:hover{
    color: #c0a717;
    text-decoration: underline;

 }

 header ul li:first-child{
  
   /* border-left: 2px dashed white;*/
}
.container{
    text-align: center;
}

 .container .name h1{
     font-size: 60px;
     text-align: center;
 }

 .container .name h5{
    font-size: 30px;
    text-align: center;
}
#arrow{
    font-size: 35px;
    cursor: pointer;
    animation: piscar 1s steps(5, start) infinite;
}
@keyframes piscar{
    to{
        visibility: hidden;
    }
}

#animation{
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active {
    display: block !important;
}
 #about p{

    max-width: 600px;
    margin: 0 auto;
}
.form{
    width: 40%;
    margin: 0 auto;
    /*border: thick double white;*/
    padding: 25px;
    margin-top: 30px;
}
.form input{
    width: 50%;
    padding: 5px 10px;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
.form button{
    width: 15%;
    padding: 5px 10px;
   /* background-color: #c09717;  ou*/
    background: linear-gradient(to right, #c09717 50%, #9c551b 50% );
    background-size: 200% 100%;
    background-position: right bottom;
    color:white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
    border-radius: 0px 5px 5px 0px;
    margin-top: 20px;
    margin-left: -5px;
}
.form button:hover{
   /* background-color: #9c551b;*/
   background-position: left bottom;
  

}

/*responsividade da tela do site*/
@media only screen and (max-width:768px){

    .form{
        width: 100%;
    }

}

@media only screen and (max-width:480px){

    .container .name h1{
        font-size: 30px;

    }
    .container .name h5{
        font-size: 15px;

    }
    #about p{
        max-width: 80%;
        text-align: justify;
    }
    
}
